[submodule "academic-research-skills"]
	path = academic-research-skills
	url = https://github.com/Imbad0202/academic-research-skills.git
[submodule "better-phrase"]
	path = better-phrase
	url = https://github.com/roseduan/better-phrase.git
[submodule "jupyter-notebook-editor-skill"]
	path = jupyter-notebook-editor-skill
	url = https://github.com/narang99/jupyter-notebook-editor-skill.git
